app-left-sidebar {
  width: 400px;
  background-color: #eaeaea;
  overflow: visible;
  position: relative;

  /* TODO make this work as an off-canvas */
  display: none;

  @include sm-screen {
    display: block;
  }

  @include top-bar-padding;

  nav {
    ul {
      list-style: none;
      padding:0;
      margin:0;
      li {
        padding:0;
        margin:0;
        overflow:hidden;
        a {
          display:block;
          padding: 40px;
          color: $ms-logo-primary;
          text-decoration: none;
          text-align: center;
          &:hover {
            background-color: $ms-logo-primary;
            color: white;
          }
        }
      }
    }
  }

}
