app-left-sidebar {
  width: 400px;
  background-color: #eaeaea;
  overflow: visible;
  position: relative;

  /* TODO make this work as an off-canvas */
  display: none;

  @include top-bar-padding;

}
