app-left-sidebar {
  position: absolute;
  width: $sidebar-width;
  background-color: $ms-sidebar-bg;
  border-right: solid 1px darken($ms-sidebar-bg, 3%);
  overflow: visible;
  min-height: 100vh;
  height: 100%;

  @include sm-screen {

  }

  @include top-bar-padding;

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        overflow: hidden;

        a {
          display: block;
          padding: 40px;
          color: $ms-logo-primary;
          text-decoration: none;
          text-align: center;

          &:hover {
            background-color: $ms-logo-primary;
            color: white;
          }
        }
      }
    }
  }
}
