@mixin responsive-logo($img-size) {
  $margin: $img-size / 3;

  padding-bottom: $img-size;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 100%);

  > img {
    margin: $margin 0 0 $margin;
    height: $img-size;
  }
}

.logo-container {
  background-color: #fdf6e2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;

  > img {
    padding: 0;
    display: block;
  }

  @include responsive-logo($logo-height-xs);

  @include sm-screen {
    @include responsive-logo($logo-height-sm);
  }

  @include md-screen {
    @include responsive-logo($logo-height-md);
  }

  @include lg-screen {
    @include responsive-logo($logo-height-lg);
  }
}
