.ms-menu-button {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 99;
  right: $logo-height-xs / $corner-margin-factor;
  top: $logo-height-xs / $corner-margin-factor;
  background: none;
  border: none;
  color: $ms-logo-primary;
  font-size: 1.5rem;
  cursor: pointer;

  @include sm-screen {
    display: none;
  }
}
