@mixin sm-screen {
  @media screen and (min-width: $ms-breakpoint-sm) {
    @content;
  }
}

@mixin md-screen {
  @media screen and (min-width: $ms-breakpoint-md) {
    @content;
  }
}

@mixin lg-screen {
  @media screen and (min-width: $ms-breakpoint-lg) {
    @content;
  }
}

@mixin top-bar-padding {
  $padding-factor: 2.6;

  padding-top: $logo-height-xs * $padding-factor;

  @include sm-screen {
    padding-top: $logo-height-sm * $padding-factor;
  }

  @include md-screen {
    padding-top: $logo-height-md * $padding-factor;
  }

  @include lg-screen {
    padding-top: $logo-height-lg * $padding-factor;
  }
}
