.ms-flex-container {
  display: flex;
  min-height: 100vh;

  &.menu-open .ms-body-wrapper {
    margin-left: $sidebar-width;
  }
}

.ms-body-wrapper {
  flex: 1;
  @include top-bar-padding;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  transition: margin 0.5s;
  background: white;
  z-index: 50;

  @include sm-screen {
    margin-left: $sidebar-width;
  }
}
