.ms-flex-container {
  display: flex;
  min-height: 100vh;
  height: 100%;

  &.menu-open .ms-body-wrapper {
    transform: translate3d($sidebar-width,0,0);
  }
}

.ms-body-wrapper {
  flex: 1;
  @include top-bar-padding;
  padding-left: 40px;
  padding-right: 40px;
  transition: transform 0.5s;
  transform: translate3d(0,0,0);
  background: white;
  z-index: 50;

  @include sm-screen {
    transform: translate3d($sidebar-width,0,0);
  }
}
