/* colors */
$ms-logo-primary: #102a8a;
$ms-logo-secondary: #7e7e7e;
$ms-header-bar: #fdf6e2;

/* breakpoints */
$ms-breakpoint-sm: 768px;
$ms-breakpoint-md: 1024px;
$ms-breakpoint-lg: 1500px;

/* component sizes */
$logo-height-xs: 40px;
$logo-height-sm: 60px;
$logo-height-md: 80px;
$logo-height-lg: 120px;

/* fonts */
$font-family-base: 'EB Garamond', serif;
$font-family-title: 'Saira Extra Condensed', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;
